@import "../globalvariables.scss";

.organizations {
  margin: 30px 0;
  .organization {
    text-align: center;
    .photo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: auto;
    }

    .name {
      margin: 10px 0;
      font-weight: 500;
      line-height: 1.2;
      height: 3rem;
      overflow: hidden;
    }

    .job-title {
      margin: 10px 0;
      font-weight: 500;
      line-height: 1.2;
      height: 3.5rem;
      overflow: hidden;
    }

    .date {
      margin: 10px;
      border-top: 1px solid #e5e5e5;
      padding: 10px;
      font-size: 0.8rem;
      .end {
        color: #86bd57;
      }
    }
  }

  .slick-prev:before, .slick-next:before {
    border-radius: 50%;
    outline: 0;
    background: #ff5e14;
    color: #fff;
    transition: all 0.3s;
  }
}