@import "../globalvariables.scss";

.project-post {
  p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: revert;
    padding: revert;
  }

  ul {
    list-style: inherit;
  }
}

.project-post {
  h1 {
    line-height: 2.2rem;
    font-size: 2rem;
  }

	.tag {
		margin: 1px;
    padding: 2px;
    border-radius: 2px;
    background: $main-background;
    color: white;
    font-size: 10px;
  }
  
	.date {
    margin: 10px 0;
		padding: 2px;
		font-size: 0.9rem;
		.end {
			color: #86bd57;
		}
	}
}